/* App section entire block */
#app > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10rem;
}
/* App section left side info */
#app > div > div:first-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  height: 634.5px;
}

/* App section left side (slider?) */
#app > div > div > div:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.1rem;
  background: white;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/* App section left side (slider) text */
#app > div > div > div:first-child > p {
  color: black;
  text-align: center;
  font-family: "Roboto";
  border-radius: 0.2rem;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1rem;
  cursor: pointer;
  width: 50%;
  margin: 0;
}

/* App section left side (slider) text first child thats (selected) */
#app > div > div > div:first-child > .selected {
  color: white;
  border: 1.6px solid #9a54bc;
  background: #60267f;
}

/* App section left side paragraph blocks */
#app > div > div:first-child > p {
  padding: 2rem 3rem;
  margin: 1em 2em;
  background: #f1f1f1;
  color: black;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 400;
}

/* App section left side paragraph blocks bold text */
#app > div > div:first-child > p > span {
  font-weight: 600;
  cursor: pointer;
}

/* App section right side div containing the phone image */
#app > div > div:last-child {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App section right side phone image */
#app > div > div:last-child > img {
  width: 300px;
  aspect-ratio: 200/423;
}
