/* Map section block */
#map {
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Map section div's left and right */
#map > div {
  width: 40%;
}

/* Map section div's left header */
#map > div > h1 {
  margin: 4rem;
}

/* Map section div's left text */
#map > div > p {
  text-align: center;
  font-family: "Roboto";
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
}

/* Map section div's right image with a map */
#map > img {
  width: 60%;
}
