/* Top line with (learn more) */
body > div:first-child {
  background-color: #60267f;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Top line's text link color */
body > div:first-child > p,
a {
  color: white;
}

/* Nav bar itself */
nav {
  height: 7rem;
  background: #fff;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 6.25rem;
  padding-right: 2rem;
}

/* Logo */
nav > a:first-child {
  cursor: pointer;
  color: #9a54bc;
  font-family: "Comfortaa";
  font-size: 4rem;
  font-weight: 500;
  margin: 0;
  text-decoration: none;
}

/* Unordered list inside nav with a-links */
nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  padding: 0;
}

/* a-link elements themselves */
nav > ul > a {
  color: #2b0236;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

/* a-link elements hover effect */
nav > ul > a:hover {
  color: #b23cd3;
}

/* Request demo button inside the nav */
nav > ul > a:last-child {
  color: #9a54bc;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.25rem;
  text-decoration: none;
  border: 2px solid #9a54bc;
  padding: 0.6rem;
  /* margin-left: 2rem; */
}

/* Request demo button hover effect */
nav > ul > a:last-child:hover {
  background-color: #9a54bc;
  color: white;
}
