/* Projects section block */
#projects > div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#projects > div > div > .img-div {
  width: 400px;
  height: 270px;
  overflow: hidden;
}

/* Projects section images */
#projects > div > div > .img-div > img {
  width: 400px;
  height: 270px;
  object-fit: cover;
  transition: all 1s ease;
}

/* Projects section images zoom in effect */
#projects > div > div > .img-div > img:hover {
  scale: 1.2;
}

/* Projects section image names */
#projects > div > div > div > p {
  color: #60267f;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.3rem;
}

/* Projects section image name amounts */
#projects > div > div > div > p:last-child {
  color: black;
}
