/* First section block after nav */
#hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
/* First section's header */
#hero > h1 {
  color: #2b0236;
  text-align: center;
  font-family: "Roboto";
  font-size: 4rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

/* Request demo button after header */
#hero > a {
  color: white;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 0.4rem;
  background: #9a54bc;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  padding: 1rem;
}

/* Request demo button hover effect */
#hero > a:hover {
  background: #ac62d1;
}

/* Outer circle */
#hero > div {
  width: 56rem;
  height: 56rem;
  border-radius: 56rem;
  background: rgba(245, 225, 255, 0.3);
  margin-top: 4rem;
}

/* Inner circle */
#hero > div > div {
  width: 34rem;
  height: 34rem;
  border-radius: 34rem;
  background: rgba(245, 225, 255, 0.8);
  margin: auto;
  margin-top: 2rem;
  position: relative;
}

/* Phone-like thing */
#hero > div > div > div {
  width: 17rem;
  height: 33.5rem;
  border-radius: 0.7rem;
  border: 3px solid #9a54bc;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
}
/* Logo inside the phone */
#hero > div > div > div > h1 {
  cursor: default;
  color: #9a54bc;
  text-align: center;
  text-shadow: 0px 0.5px 1.4px rgba(184, 216, 242, 0.25);
  font-family: "Comfortaa";
  font-size: 4rem;
  font-weight: 500;
}
/* Button at the bottom of the phone-thing*/
#hero > div > a {
  padding: 1.2rem 2rem;
  color: #60267f;
  font-family: "Roboto";
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  border-radius: 0.42088rem;
  border: 3px solid #9a54bc;
  background: white;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  margin-top: 10rem;
  position: absolute;
  top: 73%;
  left: 50%;
  transform: translate(-50%);
}

/* Explore product button hover effect */
#hero > div > a:hover {
  background: #9a54bc;
  color: white;
}
